/* Universal Styles */
* {
    margin: 0;
}

html {
    font-size: 16px;
    font-family: 'Maven Pro', sans-serif;
    background-color: black;
    min-width: fit-content;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color:rgb(156, 0, 0)
}

h2 {
    font-size: 3rem;
    color: rgb(221, 0, 0);
}

@media only screen and (max-width: 480px){
    body {
        max-width: 100%;
    }
}

/* Header & Nav */
header {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 0.5rem;
    height: 3rem;
    position: fixed;
    z-index: 1;
    width: 100%;
    display: none;
}

#hideNavBtn {
    width: 3rem;
    margin-right: -3rem;
}

.menuButton {
    width: 5rem;
    padding: 0.5rem;
    float: right;
}

.menuButtonContainer {    
    position: fixed;   
    width: 100%;
}

.title {
    width: 50%;
    float: left;
    font-size: 3rem;
}

nav {
    float: right;
    display: inline-flex;
    justify-content: space-around;
    width: 60%;
    align-items: center;
    font-size: 2rem;
    padding-top: 4px;
}

@media only screen and (max-width: 1024px){
    #nav {
        width: 100%;
        font-size: 1.5rem;
        min-width: 0;
        display: flex;
        height: 30rem;
        flex-direction: column;
    }

    #hideNavBtn {
        margin: 0;
        width: 5rem;
    }

    nav p {
        width: 100%;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid white;
        align-items: center;
        font-size: 4rem;
    }

    header {
        height: 30rem;
        background-color: rgba(0, 0, 0, 0.9);
    }
}

/* Landing */

.landing {
    background-image: url("images/backgrounds/landing.png");
    height: 60rem;
    background-size: cover;
}

.landing h2 {
    font-size: 5rem;
    color: rgb(59, 59, 59);
    position: relative;
    top: 6rem;
    padding-left: 4rem;
    font-weight: bold;
    word-spacing: 0.5rem;
    min-width: 800px;
}

.landing .name {
    color: rgb(156, 0, 0);
    text-shadow: 2px 2px black;
}

.landing .title {
    padding-left: 9rem;
}

@media only screen and (max-width: 1024px){
    .landing h2, .landing .title {
        font-size: 3.5rem;
        padding-left: 2rem;
        min-width: 400px;
    }

    .menuButtonContainer {
        z-index: 1;
    }
}


/* Skills Section */
.skills {
    background-image: url("images/backgrounds/skills-bg.png");
    height: auto;
    margin-top: -5px;
}

.skills h2 {
    color: rgb(182, 0, 0);
    display: flex;
    justify-content: center;
    font-weight: bold;
    flex-wrap: wrap;
    margin-bottom: 5rem;
    padding-top: 3rem;
    text-shadow: 2px 2px black;
}

.languages {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    min-width: 400px;
    flex-wrap: wrap;
}

.language {
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 5rem;
    padding: 15px;
}

.skills figcaption {
    color: white;
    font-size: 2rem;
    text-align: center;
}

.skills img {
    width: 25rem;
    margin-bottom: 2rem;
    padding: 0 2rem;
}

@media only screen and (max-width: 1024px){
    .skills img {
        width: 12rem;
    }
}
/* Projects */

.projects {
    background-image: url("images/backgrounds/bg-test.webp");
    background-size: cover;
    height: 80rem;
}

.mobileImage {
    width: 100%;
    display: none;
}

.mobileImage img {
    display: block;
    width: 80%;
    margin: 0 auto;
}

.white {
    color: white;
}

.project-box {
    margin-bottom: 5rem;
}

.opaque, .opaque-2 {
    background-color: rgba(0, 0, 0, 0.6);
    height: 80rem;
}

.projects h3 {
    color: rgb(221, 0, 0);
    text-shadow: 2px 2px black;
    font-size: 2.5rem;
    text-align: center;
    padding-top: 5px;
}

.projects p {
    color: white;
    font-size: 1.5rem;
    padding: 5px 20px;    
}

.projects h2 {
    display: flex;
    justify-content: center;
    font-weight: bold;
    flex-wrap: wrap;
    margin-bottom: 5rem;
    padding-top: 3rem;
    color: rgb(182, 0, 0);
    text-shadow: 2px 2px black;
}

.project-box img {
    width: 50%;
    margin-right: 10px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.opaque h2 {
    color: white;
    text-shadow: 2px 2px black;
}



/* Champion boxing Club */
.boxingclub {
    width: 70%;
    background-image: url("images/backgrounds/skills-bg.png");
    float: left;
    margin-left: 3rem;
    border: 2px solid black;
    border-radius: 5px;
}

/* Voortrekker */
.voortrekker {
        width: 70%;
        background-image: url("images/backgrounds/skills-bg.png");
        float: right;
        margin-right: 3rem;
        border: 2px solid black;
        border-radius: 5px;
}

.voortrekker img {
    margin-right: 0;
}

@media only screen and (max-width: 1024px){
    .mobileImage {
        display: block;
        margin-bottom: 1rem;
    }
    
    .projects {
        background-image: url("images/backgrounds/bg-test.webp");
        background-position: center;
        background-size: cover;
    }

    .projects, .opaque{
        height: 100rem;
    }
    .project-box img {
        display: none;
        
    }

    .project-box {
        width: 90%;
    }

    .boxingclub, .voortrekker {
        float: none;
        margin: auto;
        margin-bottom: 4rem;
    }

    .projects p {
        padding: 1.5rem;
    }

}

/* About Me Section */

.about {
    background-image: url("images/backgrounds/about-bg.webp");
    background-size: cover;
    height: 60rem;
}

.about h2 {
    color: rgb(221, 0, 0);
    text-align: center;
    padding-top: 2rem;
    text-shadow: 2px 2px black;
}

.opaque-2 {
    background-color: rgba(0, 0, 0, 0.5);
    height: 60rem;
}

.about-content {
    display: flex;
    width: 80%;
    margin: 5rem auto;
    align-items: center;
}

.portrait {
    display: flex;
    align-items: center;
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    float: left;
    margin-right: 2rem;
}

.about-content p {
    color: white;
    font-size: 2rem;
    font-weight: 550;
}

@media only screen and (max-width: 1024px){
    .about .mobileImage {
        border-radius: 50%;
        width: 20rem;
        height: 20rem;
        margin: 4rem auto;
    }

    .about-content {
        width: 95%;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 5px;
    }
    .about-content p {
        font-size: 1.5rem;
        padding: 15px;
        
    }
    .about{
        background-image: url("images/backgrounds/about-bg.webp");
        background-size: cover;
        background-position: center;
        height: 110rem;
        background-repeat: no-repeat;
    }

    .portrait {
        display: none;
    }

    .opaque-2 {
        height: 110rem;
    }
}